{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/style.css">          
{% endblock %}

{% block javascripts %}
    <script src="/base.js"></script>
{% endblock %}

{% block body %}
<div class="container">
        <header>
            <div class="banniere">
                <img class="logo" src="/images/logo.png" alt="logo du restaurant dead cow diner">
                <p class="ouverture">Ouvert du mardi au dimanche, de 12h à 14h et de 14h à 19h</p>
                <div class="marquee-rtl">

                    <div>Le restaurant est<span id='heure'></span></div>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a class="info" href="{{ url('info_info') }}">Infos</a></li>
                    <li><a href="{{ url('carte_carte') }}">Carte</a></li>
                    <li><a href="{{ url('app_reservation') }}">Réservation</a></li>
                </ul>
            </div>

        </header>

        <div class="main">
            <div class="index_text">
                <p class="presentation">
                    L’aventure est née de la rencontre de compétences différentes mais complémentaires. Voici notre histoire...
                </p>
                <button id="btn" onclick="laFonction()" class="btnpopup">voir plus...</button>
               
            </div>
            <div id="popup" class="popup_cache">
                <div class="modal-content">
                    <div class="contenupc">

                    <p class="p1">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia porta mi at ultricies. Fusce commodo eros mauris. Pellentesque facilisis risus eget tellus fringilla, at sagittis ex pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Aliquam egestas pretium lorem id fermentum. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam cursus, quam non commodo ultricies, nunc massa ultricies eros, at luctus est justo varius dolor. Donec sagittis mattis lacus. Aliquam vitae sapien ut libero interdum tincidunt nec vitae quam. In commodo, ante vitae sollicitudin porttitor, enim libero volutpat nisl, ac ornare felis sapien porta urna. Maecenas rhoncus dui eros, at vehicula quam malesuada et. Aenean sagittis odio ut ipsum mattis placerat.
                    </p>

                    <p class="p2">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia porta mi at ultricies. Fusce commodo eros mauris. Pellentesque facilisis risus eget tellus fringilla, at sagittis ex pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Aliquam egestas pretium lorem id fermentum. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam cursus, quam non commodo ultricies, nunc massa ultricies eros, at luctus est justo varius dolor. Donec sagittis mattis lacus. Aliquam vitae sapien ut libero interdum tincidunt nec vitae quam. In commodo, ante vitae sollicitudin porttitor, enim libero volutpat nisl, ac ornare felis sapien porta urna. Maecenas rhoncus dui eros, at vehicula quam malesuada et. Aenean sagittis odio ut ipsum mattis placerat.
                    </p>
                    </div>
                <div class="contenumobile">
               
                <img class="imghistoire" src="/images/Hamburger_French_fries_Frikadeller_Black_595839_4595x3000.jpg" alt="burger">
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.

Nulla consectetur vulputate odio, eget laoreet libero mattis a. Ut tristique ligula quam, vel tincidunt turpis fringilla quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi nec interdum lectus. Nam aliquam sollicitudin ipsum, rhoncus pretium tellus. Quisque laoreet ex vel egestas congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Sed vitae ultrices ligula, at mattis nisl. Nunc scelerisque sapien id lorem tristique, eu dictum mauris sagittis. Phasellus non iaculis justo, ac lacinia mi. Aliquam non condimentum dui, fringilla maximus mauris. Nunc bibendum libero in sollicitudin maximus. Ut efficitur tortor fringilla, interdum felis quis, luctus nulla. Proin porta eleifend justo, vitae tincidunt felis. Vivamus convallis orci urna, a consequat urna euismod eu. Aenean porta ac felis et ultricies. Donec vel sapien lectus. Duis eu augue ac urna euismod tincidunt. Nunc posuere posuere sodales.

Aenean imperdiet sed nisl vitae finibus. Integer nec purus id orci sodales pharetra a eget lacus. Duis sit amet est luctus, luctus velit id, imperdiet nibh. Nullam dictum, lacus in viverra congue, mauris ligula semper sem, eget scelerisque diam tellus at ex. Nullam nisl ante, bibendum rutrum pellentesque nec, pulvinar dictum elit. Phasellus id enim porttitor, hendrerit orci sed, tincidunt lectus. Aliquam consectetur, lorem eget cursus bibendum, turpis libero sodales lectus, ut tempor urna velit id tortor. Aliquam ut consequat arcu. Fusce eu iaculis massa. Nunc sed consectetur orci. Fusce nec dui.
</p>
<img class="imghistoire" src="/images/gens.jpg" alt="gens">
<p >

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.

Nulla consectetur vulputate odio, eget laoreet libero mattis a. Ut tristique ligula quam, vel tincidunt turpis fringilla quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi nec interdum lectus. Nam aliquam sollicitudin ipsum, rhoncus pretium tellus. Quisque laoreet ex vel egestas congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Sed vitae ultrices ligula, at mattis nisl. Nunc scelerisque sapien id lorem tristique, eu dictum mauris sagittis. Phasellus non iaculis justo, ac lacinia mi. Aliquam non condimentum dui, fringilla maximus mauris. Nunc bibendum libero in sollicitudin maximus. Ut efficitur tortor fringilla, interdum felis quis, luctus nulla. Proin porta eleifend justo, vitae tincidunt felis. Vivamus convallis orci urna, a consequat urna euismod eu. Aenean porta ac felis et ultricies. Donec vel sapien lectus. Duis eu augue ac urna euismod tincidunt. Nunc posuere posuere sodales.

Aenean imperdiet sed nisl vitae finibus. Integer nec purus id orci sodales pharetra a eget lacus. Duis sit amet est luctus, luctus velit id, imperdiet nibh. Nullam dictum, lacus in viverra congue, mauris ligula semper sem, eget scelerisque diam tellus at ex. Nullam nisl ante, bibendum rutrum pellentesque nec, pulvinar dictum elit. Phasellus id enim porttitor, hendrerit orci sed, tincidunt lectus. Aliquam consectetur, lorem eget cursus bibendum, turpis libero sodales lectus, ut tempor urna velit id tortor. Aliquam ut consequat arcu. Fusce eu iaculis massa. Nunc sed consectetur orci. Fusce nec dui.
</p>

<img class="imghistoire" src="/images/gril.jpg" alt="gril">
<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.


</p>

<img class="imghistoire" src="/images/table.jpg" alt="gens">
<p class="partie1">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.


</p>

<img class="imghistoire" src="/images/palo-duro-canyon.jpg" alt="canyon">
<p class="partie1">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.
</p>



<img class="imghistoire" src="/images/Panorama-sur-le-desert-Arches-Moab-Utah.jpg" alt="pano">

                </div>
                    <button id="close" class="close" onclick="Close()">X</button>

                </div>
            </div>

            
                    

              

            <div class="slide_container">
                <div class="imgborder1 slider"></div>
                <div class="imgborder2 slider"></div>
                <div class="imgborder3 slider"></div>
                <div class="imgborder4 slider"></div>
                <div class="imgborder5 slider"></div>
            </div>

        </div>

        <div class="admin"><a href="{{ url('app_login') }}"> Administrateur</a></div>
    </div>



<script src="/app.js"></script>
{% endblock %}