{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/styleInfo.css">          
{% endblock %}

{% block body %}
<div class="infos">

        <div class="googlemap">
            <iframe class="pc"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.219089684536!2d3.0114733151259623!3d43.18391357914022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b1ac77508ce4eb%3A0xd555a1b79ae98dcc!2s43%20Av.%20Pr%C3%A9sident%20Kennedy%2C%2011100%20Narbonne!5e0!3m2!1sfr!2sfr!4v1637674263179!5m2!1sfr!2sfr" width="850" height="450" style="border:0;" allowfullscreen="" loading="lazy" alt="plan google map du restaurant">
            </iframe>
            <iframe class="mobile"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.219032499131!2d3.0114740151259536!3d43.18391477914023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b1ac77508ce4eb%3A0xd555a1b79ae98dcc!2s43%20Av.%20Pr%C3%A9sident%20Kennedy%2C%2011100%20Narbonne!5e0!3m2!1sfr!2sfr!4v1638022666667!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" alt="plan google map du restaurant">
            </iframe>
        </div>

        <div class="coordonnees">
            <div class="text">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="liste">

                <ul>
                    <li>43, avenue Président Kennedy</li>
                    <li><a href="tel:06-99-88-77-66">06 99 88 77 66</a></li>
                    <li><a href="deadcowdiner@gmail.com">deadcowdiner@gmail.com</a></li>
                </ul>
            </div>
        </div>
        
    </div>
    
    <footer>
    <a href="{{ path('index_index') }}">Accueil</a>
    <img class="logo" src="/images/logo.png" alt="logo du restaurant dead cow diner">
    <a href="{{ path('app_reservation') }}">Les reservation</a>
    </footer>
    
{% endblock %}