{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/styleReservation.css">          
{% endblock %}
    
{% block body %}


{{ form_start(form) }}
    <div class="infos">
      <div class="logo">

        <img src="/images/logo.png" alt="logo du restaurant dead cow">
      </div>


      {{ form_row(form.nom ) }}


      {{ form_row(form.numero) }}

      <div class="date">
        {{ form_row(form.date) }}
        {{ form_row(form.moment) }}
      </div>

      <div class='nombreP'>
        {{ form_row(form.nbrPersonne) }}
      </div>

    </div>
    <div class="valider">
      <input type="submit" class="form-control mb-2"/>


    </div>
  {{ form_end(form) }}
  
<footer>
    <a href="{{ path('index_index') }}">Accueil</a>
    <img class="logo" src="/images/logo.png" alt="logo du restaurant dead cow diner">
    <a href="{{ path('app_reservation') }}">Les reservation</a>
</footer>

{% endblock %}