{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/styleCarte.css">          
{% endblock %}

{% block body %}
<h2>Carte des Produits</h2>




    <div class="container">

    {% for produits in produit %}
    {% if true is same as(produits.dispo)%}
        <div class="list1">
        <div class="prix_list1" ><p>{{produits.prix}}$</p></div>
        <div class="t1"><img src="{{'/uploads/' ~ produits.image}}"></div>
            <div class="burger-b1">
                <div class="nom_list1"><h4>{{produits.nom}}</h4></div>
                <p class="description">{{produits.description}}</p>
                
            </div>
        </div>
    {% endif %}
    {% endfor %}

    </div>
    <footer>
    <a href="{{ path('index_index') }}">Accueil</a>
    <img class="logo" src="/images/logo.png" alt="logo du restaurant dead cow diner">
    <a href="{{ path('app_reservation') }}">Les reservation</a>
    </footer>

    
{% endblock %}