{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/styleAdmin.css">
{% endblock %}

{% block body %}
<h1>Modifiez Produit</h1>    
    <div class="contenue">
            <div class="list1" id="produit">
            <p class="info">Rendu</p>
            <div class="prix_list1"><p id="prix">{{produit.prix}}$</p></div>
            <div class="t1" id="images"><img src="{{'/uploads/' ~ produit.image}}" id="setImage"></div>
                <div class="burger-b1">
                    <div class="nom_list1" ><h4 id="nom">{{produit.nom}}</h4></div>
                    <p class="description" id="description">{{produit.description}}</p>
                    {% if true is same as(produit.dispo) %}
                        <p class="dispo-edit ok" id="ok">Disponible</p>
                    {% else %}
                        <p class="nn-dispo-edit ok">Indisponible</p>
                    {% endif %}
                </div>
            </div>
    <div class="list2">
    <p class="info">Modification</p>
    {{ include('produit/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
    {{ include('produit/_delete_form.html.twig') }}
    <button class="btn"><a href="{{ path('app_produit_index') }}" class="new">Revenir a la liste des produit</a></button>
    </div>
    <script src="/edit.js"></script>
{% endblock %}
