{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/styleAdmin.css">          
{% endblock %}



{% block body %}


<h1>Carte des Produit</h1>
    
    <div class="redirect">
        <button class="btn"><a href="{{ path('app_produit_new') }}" class="new">Créer un nouveaux produits</a></button>
        <button class="btn"><a href="{{ path('app_reservation_admin') }}" class="new">Voir les reservation</a></button>    
    </div>
    
    <div class="contenue">

        {% for produit in produits %}
        <div class="list1">
        
        <div class="prix_list1"><p>{{produit.prix}}$</p></div>
        <div class="t1"><img src="{{'/uploads/' ~ produit.image}}"></div>
        
            <div class="burger-b1">
                <div class="nom_list1"><h4>{{produit.nom}}</h4></div>
                <p class="description">{{produit.description}}</p>
                {% if true is same as(produit.dispo) %}
                <p class="dispo">Disponible</p>
                {% else %}
                <p class="nn-dispo">Indisponible</p>
                {% endif %}
                <div class="option">
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">voir</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">éditer</a>
                </div>
            </div>
        </div>
        {% else %}
            <p>pas de produits enregistré</p>
        {% endfor %}

    </div> 
    
    

<script src="/app.js"></script>
{% endblock %}
