{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/styleAdmin.css">
{% endblock %}

{% block body %}
 <h1>Produit</h1>   


<div class="center">
    <div class="list1">
        <div class="prix_list1"><p>{{produit.prix}}$</p></div>
        <div class="t1"><img src="{{'/uploads/' ~ produit.image}}"></div>

            <div class="burger-b1">
                <div class="nom_list1"><h4>{{produit.nom}}</h4></div>
                <p class="description">{{produit.description}}</p>
                {% if true is same as(produit.dispo) %}
                    <p class="dispo-edit">Disponible</p>
                {% else %}
                    <p class="nn-dispo-edit">Indisponible</p>
                {% endif %}
                
            </div>
            <div class="pose">
            
                <button class="btn"><a href="{{ path('app_produit_index') }}" class="new">Revenir a la liste des produit</a></button>
                <div class="opt">
                <button class="btn"><a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="new">Editer</a></button>
                {{ include('produit/_delete_form.html.twig') }}
                </div>
            </div>
    </div>
</div>

    

    
{% endblock %}
