body {
    height: 100vh;
    width: 100%;
    margin: 5px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-family:Questrial,sans-serif;
  }
  
  form {
    border: solid black;
    border-radius: 15px;
    width: 38vw;
    height: 80vh;
    background-color: #e0b439;
    display: flex;
    flex-direction: column;
    gap:20px;
   
  }
  
  .infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap:20px;
    height: 70vh;
  }
   img{
  width:100px;
  height:100px;
  align-items: center;
  border-radius: 50%;
  border:2px solid #e0b439;
    }
    
    .input_nom{
     
    width: 30vw;
    height: 4vh;
    }
  
    .input_tel{
      width: 30vw;
      height: 4vh;
    }
  
  .date{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:30vw;
  
  }
  
  .input_date{
    width:13vw;
    height: 4vh;
  }
  
  .monselect{
    width:13vw;
    height: 4vh;
  }
  
  .submit{
    width:70px;
    height: 5vh;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
  
  }
  .valider{
  display: flex;
  justify-content: right;
  
  }
  footer{
    margin-top: 25px;
    display: flex;
    position: absolute;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 10px solid #e0b439;
    top: 100%;
}
    img{
    width: 100px;
    height: 100px;
    clip-path: circle(45%);
}
  
  @media (max-width: 900px){
    
    form {
      padding-top: 5px;
      border: solid black;
      border-radius: 15px;
      width: 80vw;
      height: 80vh;
      background-color: #e0b439;
      display: flex;
      flex-direction: column;
      gap:20px;
     
    }
  
    .input_nom{
     
      width: 70vw;
      height: 4vh;
      }
    
      .input_tel{
        width: 70vw;
        height: 4vh;
      }
    .date{
      flex-direction: column;
      gap:20px;
  
    }
    .input_date{
      width:70vw;
      height: 4vh;
    }
    
    .monselect{
      width:70vw;
      height: 4vh;
    }
  }