* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2B366;
    font-family:Questrial,sans-serif;
}
    

    .infos{
        width:95%;
        display:flex;
        justify-content: center;
        align-items: center;
        border:5px solid #8c7f77;
        border-radius: 5px;
        background-color: #bf8a9E;
    }

    .coordonnees{
        width:100%;
        
        padding:5px;
        border:2px solid #bf8a9E;
        border-radius: 20px;
        background-color: #8c7f77;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }


   .text{
      
       width:60%;
       padding-bottom: 15px;

   }

   .liste{
      
       width:60%;
   }
   .mobile{
       display:none;
   }
    footer{
    margin-top: 25px;
    display: flex;
    position: absolute;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 10px solid #e0b439;
    top: 100%;
}
    img{
    width: 100px;
    height: 100px;
    clip-path: circle(45%);
}
   
@media (max-width: 1106px) {
    .infos{
    color:black;
    font-size: 10px;
    flex-direction: column;
    }

    .pc{
        display:none;
    }
    .mobile{
        display:flex;
        margin:50px;
        border: 2px solid #8c7f77;
    }
    .infos{
        height: 100%;
        width:100%;
    }
 }