body{
    background: url("../images/Sans titre (4).png") center;
    text-align: center;

}

.container{
    display: grid;
    width: 98.5vw;
    grid-template-columns: repeat(3, 270px);
    grid-auto-rows: 310px;
    justify-content: center;

    
}

.list1{
    background-color: rgba(228, 228, 228, 0.65);
    text-align: center;
    width: 250px;
    height: 300px;
    max-height: 300px;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.description{
    width: 250px;
    height: 90px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.list1:hover{
    transition: 0.5s;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.514);
    background-color: rgba(228, 228, 228, 0.8);
}
.prix_list1{
    background-color: rgba(83, 83, 83, 0.493);
    position: absolute;
    bottom: 275px;
    right: -3px;
    width: 75px;
    height: 25px;
    border-radius: 5px;
    clip-path: ellipse(65px 30px at 11% 75%);
    
}

img{
    width: 150px;
    height: 150px;
    clip-path: circle(45%);
}

.description::-webkit-scrollbar {
    width: 7.5px; 
    height: 7.5px;/* width of the entire scrollbar */
  }
  
  .description::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0); /* color of the tracking area */
  }
  
  .description::-webkit-scrollbar-thumb {
    background-color: rgba(83, 83, 83, 0.527); /* color of the scroll thumb */
    border-radius: 25px; /* roundness of the scroll thumb */ 
  }



  footer{
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      background-color: rgb(0, 0, 0);
      width: 100%;
      height: 100px;
      justify-content: space-around;
      align-items: center;
      border-bottom: 10px solid #e0b439;
      position: absolute;
      top: 100%;
  }

  .logo{
      width: 100px;
      height: 100px;
      
  }
@media (max-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: 320px;
        justify-content: center;
    } 
    footer{
        display: none;
    }
}