h1{
    text-align: center;
}
.contenue{
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-auto-rows: 370px;
    justify-content: center;
}
.t1{
    background-position: center;
    background-repeat:no-repeat;
    background-size: 75%;
}
.option{
    display: flex;
    flex-direction: column;
    position:absolute;
    justify-content: center;
    top:67%;
    right: 42%;
}
.list1{
    width: 250px;
    max-width: 250px;
    height: 350px;
    max-height: 350px;
    background-color: rgba(227, 227, 227, 0.651);
}

.list1, .list2{
    background-color: rgba(228, 228, 228, 0.65);
    text-align: center;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.list2{
    height: 510px;
    width: 400px;
}

.btn, .btn-new{
    margin-top: 10px;
    background-color: rgb(22, 96, 180);
    color: white;
    
}
.btn-new{
   position: absolute;
    right: 42%; 
}
.center{
    display: flex;
    justify-content: center;
}
.opt{
    display: flex;
}
.new{
    color: white;
    text-decoration: none;
}
.new:hover{
    color: white;
    text-decoration: none;
}
.btn :hover{
    transition: 0.5s;
    background-color: rgb(10, 70, 160);
}
.redirect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;

}
.info{
    color: rgb(72, 70, 161);
    font-size: larger;
}
.description{
    width: 250px;
    height: 90px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.list1:hover{
    transition: 0.5s;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.514);
    background-color: rgba(228, 228, 228, 0.8);
}
.nn-dispo, .nn-dispo-edit{
    color: red;
    font-size: larger;
}
.dispo, .dispo-edit{
    color: green;
    font-size: larger;
}
.dispo-edit, .nn-dispo-edit{
    position: relative;
    bottom: 50px;
    text-align: center;
}
.prix_list1{
    background-color: rgba(83, 83, 83, 0.493);
    position: absolute;
    bottom: 325px;
    right: -3px;
    width: 75px;
    height: 25px;
    border-radius: 5px;
    clip-path: ellipse(65px 30px at 11% 75%);
    
}

img{
    width: 150px;
    height: 150px;
    clip-path: circle(45%);
}

.description::-webkit-scrollbar {
    width: 7.5px; 
    height: 7.5px;/* width of the entire scrollbar */
  }
  
  .description::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0); /* color of the tracking area */
  }
  
  .description::-webkit-scrollbar-thumb {
    background-color: rgba(83, 83, 83, 0.527); /* color of the scroll thumb */
    border-radius: 25px; /* roundness of the scroll thumb */ 
  }
.pose{
    position: absolute;
    top: 78%;
    right: -10.5%;
}
.opt{
    margin-top: 40px;
    width: 300px;
    flex-direction: row;
    justify-content: space-between;
}

