* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2b366;
  }
  
  .container {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  header {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 28vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  
  .banniere {
    background-image: url("./images/Hamburger_French_fries_Frikadeller_Black_595839_4595x3000.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    color: #e0b439;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .ouverture {
    display: block;
    color: black;
    width: 70%;
    margin-right: 2%;
    border-radius: 5%;
    font-size: 15px;
    background-color: #f2b366;
    padding: 2px;
  }
  .logo {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: -85px;
    left: -3px;
    border: 2px solid #e0b439;
  }
  
  .marquee-rtl {
    max-width: 150%;
    color: #e0b439;
    background: #080d0bb9;
    /*border-radius: 20px;
      padding: 5px;*/
    font-size: 20px;
    font-family: Libre Baskerville;
    overflow: hidden;
    margin-right: 10%;
  }
  
  .marquee-rtl > :first-child {
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: defilement-rtl 10s infinite linear;
  }
  
  .ouverture{
    font-size: 12px;
    display:block;
    width:350px;
  
  }
  
  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .menu {
    width: 100%;
  }
  
  .menu ul {
    height: 100%;
    width: 100%;
  }
  
  .menu ul li {
    list-style: none;
    height: 33.3%;
  }
  
  .menu ul li a {
    background: #080d0b;
    text-decoration: none;
    border: 1px solid #e0b439;
    color: #e0b439;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: Libre Baskerville;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    border-radius: 4px;
    display: block;
  }
  
  ul li a.info {
    border-top-right-radius: 20px;
  }
  
  .menu ul li a:hover {
    transition: 0.5s;
    background: #8c7f77;
    text-decoration: none;
    color: black;
    font-size: 23px;
  }
  
  .main {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 56vh;
    width: 82vw;
    background: #080d0b;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  .index_text {
    color: #e0b439;
    font-family: Questrial, sans-serif;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .presentation {
    box-sizing: content-box;
    width: 80%;
    height: 40%;
    font-size: 18px;
    line-height: 20px;
    color: #e0b439;
    padding: 20px;
  }
  
  .btnpopup {
    height: 50px;
    width: 70px;
    background-color: #f2b366;
    border: 1px solid #e0b439;
    border-radius: 20%;
  }
  
  .btnpopup :hover {
    background-color: #e9d1b3;
  }
  
  .popup_cache {
    width: auto;
    display: none;
  }
  
  .popup_visible {
    background-color: rgba(0, 0, 0, 0.7);
    width: auto;
    display: flex;
    padding: 3em;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 0%;
    top: 0%;
  }
  
  .modal-content {
    display: flex;
    height: auto;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    gap: 40px;
  }
  
  .contenumobile {
    display: none;
  }
  
  .contenupc {
    display: flex;
    flex-direction: row;
    color: #e0b439;
    height: auto;
    font-size: 15px;
    line-height: 20px;
    padding: 20px;
  }
  
  .contenupc p {
    border: 2px solid #e0b439;
    padding: 10px;
    background-color: black;
  }
  
  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    align-self: flex-start;
    justify-self: flex-end;
    display: block;
    right: 4%;
    top: 8%;
    border-radius: 100%;
    background-color: #e0b439;
    border: 1px solid #f2b366;
  }
  
  .slide {
    width: 1000px;
    height: 300px;
    border: 2px solid red;
  }
  .slide_container {
    width: 500px;
    height: 100%;
    display: flex;
    border: 2px solid black;
    transform: skew(-23deg);
  }
  
  .slider {
    background-size: 500px 300px;
    width: 100px;
    transition: 0.7s;
    filter: grayscale(1);
  }
  
  .slider:hover {
    width: 500px;
    filter: grayscale(0);
  }
  .imgborder1 {
    background: center url("images/gril.jpg");
  }
  
  .imgborder2 {
    background: center url("images/table.jpg");
  }
  
  .imgborder3 {
    background: center url("images/gens.jpg");
  }
  .imgborder4 {
    background: center url("images/palo-duro-canyon.jpg");
  }
  .imgborder5 {
    background: center url("images/Panorama-sur-le-desert-Arches-Moab-Utah.jpg");
  }
  
  .border {
    border-left: 1px solid black;
  }
  
  .admin {
    text-align: right;
    padding: 2px;
    margin: 5px;
  }
  .admin a {
    text-decoration: none;
    color: #e0b439;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
  }
  
  @media (max-width: 750px) {
    .slide_container {
      width: 400px;
    }
  }
  
  @media (max-width: 650px) {
    .logo {
      top: -70px;
      left: -37x;
    }
    header {
      flex-direction: column;
      height: 65%;
    }
  
    ul li a.info {

      border-top-right-radius: 0px
    }
    menu a {
      border: none;
    }
    .ouverture {
      font-size: 10px;
    }
    .banniere {
      width: 100%;
    }
    .menu {
      width: 100%;
    }
  
    .presentation {
      font-size: 12px;
      padding: 10px;
      line-height: 12px;
      text-align: center;
    }
    .index_text {
      padding: 2px;
    }
    .admin {
      margin: 10px;
    }
  
    .slide_container {
      display: none;
    }
    .contenupc {
      display: none;
    }
  
    .contenumobile {
      display: flex;
      flex-direction: column;
      color: #e0b439;
      height: auto;
      background-color: black;
      border: 1px solid white;
      font-size: 12px;
      line-height: 20px;
      padding: 20px;
      justify-content: center;
      align-items: center;
    }
  
    .contenumobile img {
      width: 300px;
      height: 200px;
      text-align: center;
      margin: 10px;
    }
  }
  
