<form method="post" action="{{ path('app_reservation_delete', {'id': reservations.id}) }}" onsubmit="return confirm('Confirmer pour supprimer le reservation');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservations.id) }}">
    <button class="btn">Supprimer la Reservation</button>
</form>
