{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styleAdmin.css">
{% endblock %}
     
{% block body %}
<h1>Reservations</h1>

<div class="redirect">
        <button class="btn"><a href="{{ path('app_produit_index') }}" class="new">Voir les Produits</a></button>
    </div>




<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>N°Tel</th>
                <th>Date</th>
                <th>Nombre de personne</th>
                <th>Moment de la journée</th>
                <th>Action</th>
            </tr>
        </thead>

    {% for reservations in reservation %}
    <tr>
                <td>{{reservations.id}}</td>
                <td>{{reservations.nom}}</td>
                <td>{{reservations.numero}}</td>
                <td>{{reservations.date ? reservations.date|date('Y-m-d') : '' }}</td>
                <td>{{reservations.nbrPersonne}}</td>
                <td>{{reservations.moment}}</td>
                <td>{{ include('admin/_delete_form_.html.twig') }}</td>

    </tr>

    {% endfor %}

</div>


    
{% endblock %}